<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gc.money.currency">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <!-- Required -->
    <uses-permission android:name="com.hanyu.motong.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 个推 SDK 权限配置开始 -->
    <!-- 必选权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 以下为可选权限 -->
    <!-- 支持 iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 支持个推电子围栏功能 -->

    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.gaocheng.digital.coin" />

    <permission
        android:name="getui.permission.GetuiService.com.gc.money.currency"
        android:protectionLevel="normal"/>

    <application
        android:name="com.gc.money.currency.global.CoinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.gc.money.currency.ui.activity.account.SplashActivity"
            android:theme="@style/WelComeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="OETrade" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="y9l0p.app.link" />
                <!-- example-alternate domain is required for App Links when the Journeys/Web SDK and Deepviews are used inside your website.  -->
                <data android:scheme="https" android:host="y9l0p-alternate.app.link" />
            </intent-filter>


            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data
                    android:scheme="app"
                    android:host="test">
                </data>
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ek7pDeN1X3rrjGiXzxUnUjbarxb8CxZ6" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="secret_live_RfWl7KUvoPsGwcl0rWiv3DwB5RwHYMSF" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />




        <activity android:name="com.gc.money.currency.ui.H5Activity"/>
        <activity android:name="com.gc.money.currency.MainActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.MineDataActivity"/>
        <activity android:name="com.gc.money.currency.ui.WebViewPayActivity"/>


        <activity android:name="com.gc.money.currency.ui.activity.ModifyNickNameActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.account.LoginActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.account.RegisterActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.account.FastLoginActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.SettingActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.AdviseCallBackActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.InformDetailActivity"/>
        <activity android:name="com.gc.money.currency.ui.activity.AboutUsActivity"/>
        <activity android:name="com.gc.money.currency.ui.WebViewActivity"/>
<!--        <activity android:name=".ui.H5Activity"/>-->

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <!-- 请根据您当前自定义的 PushService 名称路径进行配置-->
        <service
            android:name="com.gc.money.currency.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>

        <service
            android:name="com.gc.money.currency.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>



        <activity
            android:name="com.payssion.android.sdk.PayssionActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.PayssionTrans"/>
        <activity
            android:name="com.payssion.android.sdk.PaymentWebActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

<!--        //facebook-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="1129629230835543"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />


        <!--        //facebook-->

        <service android:name="com.gc.money.currency.coinlist.CoinSocketService"/>

        <activity android:name="com.gc.money.currency.ui.activity.DetailActivity"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>